#top-section-info {
	background-color: aqua;
	height: 200px;
	width: 452px;
	border: 2px;
	border-style: solid;
	border-radius: 6px;
	background-color: brown;

}

#top-section-box {
	background-color: #82d1af;
	height: 280px;
}

.prof-info-tab{
	height:200px;
}


.bgc-1{
	background-color: blueviolet
}

.bgc-2{
	background-color: darkcyan
}

.bgc-3{
	background-color: darkgray
}

.bgc-4{
	background-color: darkolivegreen
}
