<!-- {% load static %}  -->
<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->    
    <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	

    <!-- Add any additional imports that you would like in this block-->
    {% block additionalImports %}
    
    {% endblock %}

    <!-- Glyphicons by fontawesome.com -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <title>Website Title</title>
  </head>
  <body>
      

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <!-- <img class="rounded-circle" src= "{% static "images/TemporaryLogo.jpg" %}" width="30" height="30" class="d-inline-block align-top" alt=""> -->
                Website title
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <!-- Home link -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>

                <!-- Login/Register/Admin Button-->
                {% if user.is_authenticated %}
                    {% if user is not None %}
                        <span class="navbar-text mr-sm-2">
                            Hello, {{user.username}}
                        </span>
                    {% else %}
                        <span class="navbar-text mr-sm-2"> Anonymous User Status </span>
                    {% endif %}
                {% else %}
                    <div class="btn-group m-sm-2">
                        <a href="/signup/" class="btn btn-primary">Sign Up</a>
                        <a href="/login" class="btn btn-primary">Login</a>
                        <a href="/admin/" class = "btn btn-info"> Admin</a>
                    </div>
                {% endif %}

                 <!--View Profile-->
                {% if user.is_authenticated and user is not None %}
                <a href="/profile/" class="btn btn-primary mr-sm-1"> View Profile </a>
                {% else %
                <a class="btn btn-primary mr-sm-1">Can't view profile. You're not logged in</a>
                {% endif %} 

                <!-- Logout button (if user loged in)-->
                {% if user.is_authenticated %}
                <span class="navbar-text mr-sm-2">
                    <a href = "{% url 'user:logout' %}" class = "btn btn-danger"> Log Out</a>
                </span>
                {% endif %}

            </div> <!--Collapse-->
        </nav> <!--Navigation bar-->
    
    <div class="container">
    {% block content %}

    {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>