{% load static %}
<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->    
    <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	

    <!-- Add any additional imports that you would like in this block-->
    {% block additional_imports %}
    
    {% endblock %}

    <!-- Glyphicons by fontawesome.com -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <title>Vaulted Runs</title>
  </head>
  <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <!-- <img class="rounded-circle" src= "{% static "images/TemporaryLogo.jpg" %}" width="30" height="30" class="d-inline-block align-top" alt=""> -->
                Vaulted Runs
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Platform
                            <img id="platform-drop-down-img" style="max-height:30px">
                        </a>
                        <div id="platform-selection" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a id="platform-pc" class="dropdown-item" href="#">
                                <img id="pc-svg-img" style="max-height:20px" src="{% static 'images/gaming-platform-svgs/pc.svg' %}">
                                PC
                            </a>
                            <a id="platform-playstation" class="dropdown-item" href="#">
                                <img id="playstation-svg-img" style="max-height:20px" src="{% static 'images/gaming-platform-svgs/playstation.svg' %}">
                                PlayStation
                            </a>
                            <a id="platform-xbox" class="dropdown-item" href="#">
                                <img id="xbox-svg-img" style="max-height:20px" src="{% static 'images/gaming-platform-svgs/xbox.svg' %}">
                                Xbox
                            </a>
                            <a id="platform-nintendo-switch" class="dropdown-item" href="#">
                                <img id="nintendo-switch-svg-img" style="max-height:20px" src="{% static 'images/gaming-platform-svgs/nintendo-switch.svg' %}">
                                Nintendo Switch
                            </a>
                        </div>
                    </li>
                </ul>
                
                <!-- Login/Register/Admin Button-->
                {% if user.is_authenticated %}
                    {% if user.linked_warframe_account_id is not None %}
                        <span class="navbar-text mr-sm-2">
                            Hello, {{user.linked_warframe_account_id.warframe_alias}}
                        </span>
                    {% else %}
                        <!-- <span class="navbar-text mr-sm-2"> Warframe account not linked. </span> -->
                    {% endif %}
                {% else %}
                    <div class="btn-group m-sm-2">
                        <a href="{% url 'user:register' %}" class="btn btn-primary">Sign Up</a>
                        <a href="{% url 'user:login' %}" class="btn btn-primary">Login</a>
                        <a href="#" class = "btn btn-info"> Admin</a>
                    </div>
                {% endif %}

                 <!--View Profile-->
                {% if user.is_authenticated and user is not None %}
                <a href="#" class="btn btn-primary mr-sm-1"> View Profile </a>
                {% endif %} 

                <!-- Logout button (if user loged in)-->
                {% if user.is_authenticated %}
                <span class="navbar-text mr-sm-2">
                    <a href = "{% url 'user:logout' %}" class = "btn btn-danger"> Log Out</a>
                </span>
                {% endif %}

            </div> <!--Collapse-->
        </nav> <!--Navigation bar-->
        
    {% block content %}

    {% endblock %}
    
    <script id="js-cookie" src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script id="ajax-setup-and-csrf-security">
       const csrftoken = Cookies.get('csrftoken')

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        }); 
    </script>
    <script id="gaming-platform-selection">
        const PC = "PC"
        const XBOX = "Xbox"
        const SWITCH = "Nintendo Switch"
        const PLAYSTATION = "PlayStation"

        const gamingPlatformChoices = [PC, XBOX, SWITCH, PLAYSTATION]

        const gamingPlatformCookie = Cookies.get('gaming-platform')

        // Obtain the image url of a gaming platform svg image from the value
        // of the src attribute of choices for the gaming platform drop down menu
        // in the navigation bar.
        function getImgUrlFromGamingPlatformDropDownItem(gamingPlatform){
            var url = null

            if(gamingPlatform === PC || gamingPlatform == null){
                var el = document.getElementById("pc-svg-img")
                var url = el.getAttribute('src')
            }else if(gamingPlatform === XBOX){
                var el = document.getElementById("xbox-svg-img")
                var url = el.getAttribute('src')
            }else if(gamingPlatform === PLAYSTATION){
                var el = document.getElementById("playstation-svg-img")
                var url = el.getAttribute('src')
            }else if(gamingPlatform === SWITCH){
                var el = document.getElementById("nintendo-switch-svg-img")
                var url = el.getAttribute('src')
            }

            return url
        }
        
        //Sets the image of the gaming platform drop down menu. The image is determined
        //by the 'gaming-platform' cookie.
        function setGamingPlatformDropDownMenuImage(){
            var el = document.getElementById('platform-drop-down-img')
            console.log("#platform-drop-down-img is: " + el)
            var url = null
            if(gamingPlatformCookie === PC || gamingPlatformCookie == null){
                url = getImgUrlFromGamingPlatformDropDownItem(PC)
            }else if(gamingPlatformCookie === XBOX){
                url = getImgUrlFromGamingPlatformDropDownItem(XBOX)
            }else if(gamingPlatformCookie === PLAYSTATION){
                url = getImgUrlFromGamingPlatformDropDownItem(PLAYSTATION)
            }else if(gamingPlatformCookie === SWITCH){
                url = getImgUrlFromGamingPlatformDropDownItem(SWITCH)
            }
            
            el.setAttribute('src', url)
        }

        $(document).ready(function() {
            var EXPIRES = 7 // 7 days

            // if(gamingPlatformCookie == null)
            //     Cookies.set('gaming-platform', PC, {expires: EXPIRES})

            // Let the gaming-platform cookie default to PC if the cookie is not set
            // or an unacceptible value that is not in the list of gamingPlatformChoices is set.
            if(gamingPlatformChoices.includes(gamingPlatformCookie) == false)
                Cookies.set('gaming-platform', PC, {expires: EXPIRES})

            setGamingPlatformDropDownMenuImage()

            // Gaming platform selection - event handler
            // Sets the 'gaming-platform' cookie to the appropriate
            // value determined by the gaming platform choice from the
            // gaming platform drop down menu. Reloads the page
            // when the cookie has been set.
            $('#platform-selection .dropdown-item').on('click', function(event){
                console.log("clicked on " + this.id)
                
                if(this.id === "platform-pc"){
                    Cookies.set('gaming-platform', PC, {expires: EXPIRES})
                }else if(this.id === "platform-xbox"){
                    Cookies.set('gaming-platform', XBOX, {expires: EXPIRES})
                }else if (this.id === "platform-playstation"){
                    Cookies.set('gaming-platform', PLAYSTATION, {expires: EXPIRES})
                }else if(this.id === "platform-nintendo-switch"){
                    Cookies.set('gaming-platform', SWITCH, {expires: EXPIRES})
                }

                event.preventDefault()
                location.reload()
                return
            });

        }); //document.ready()
    </script>
    <!-- Optional JavaScript -->
    {% block scripts %}
    {% endblock %}
  </body>
</html>