{% extends 'base.html' %}
{% load static %}

{% block additional_imports %}
{% endblock %}

{% block content %}


{% if error == "Key does not exist" %}
<h1 class="text-center">Change Password</h1>
	error is -> {{ error }} <br>
{% elif error == "Key has expired" %}
<h1 class="text-center">Change Password</h1>
	error is -> error is {{ error }} <br>
{% elif error == None %}
	{# 'No errors with the key. Display a form to change password' #}
		<div id="chage-pw-card" class="card mt-5" style="max-width:400px; margin-left:auto; margin-right:auto;">
			<div class="card-body">
				<h1 class="card-title text-center">Change Password</h1>

				<p class="mb-0 text-center">
					Select a password with at least 8 characters mixed with numbers, letters, and symbols.
				</p>
				
				{% if form.non_field_errors %}
				<ol>
				{% for error in form.non_field_errors %}
					<li style="color:red"><strong>{{ error|escape }}</strong></li>
				{% endfor %}
				</ol>
				{% endif %}
				<form action="#" method="POST">
					{% csrf_token %}
		
					<div class="form-group">
						{{ form.password1.errors }}
						<label for="password-1"></label>
						<input type="text" name="password-1" class="form-control" placeholder="New Password">
						{{ form.password2.errors }}
						<label for="password-2"></label>
						<input type="text" name="password-2" class="form-control" placeholder="Confirm Password">
					</div>
		
					<button type="submit" class="btn btn-success">Change Password</button>
				</form>
			</div>
		</div>
	
{% endif %} 

{% endblock %}