{% extends 'base.html' %}
{% load static %}

{% block additional_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'user/forgot-password.css' %}">
{% endblock %}

{% block content %}
<!-- <h2 class="text-center mt-3"> Can't log in?</h2> -->

<div id="forgot-pw-card" class="card mt-3">
	<div class="card-body">
		<h1 class="card-title text-center">Reset Password</h1>
		<!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
		<p class="mb-0 text-center">Please insert your email address below. You'll be sent instructions via email on how to reset your password. </p>
		{% if form.non_field_errors %}
		<ol>
		{% for error in form.non_field_errors %}
			<li style="color:red"><strong>{{ error|escape }}</strong></li>
		{% endfor %}
		</ol>
		{% endif %}
		<form action="{% url 'user:forgot_pw' %}" method="POST">
			{% csrf_token %}

			<div class="form-group">
				<label for="email-input"></label>
				<input type="email" name="email_address" class="form-control" placeholder="Email address">
				{{ form.email_address.errors }}
			</div>

			<button type="submit" class="btn btn-success">Submit</button>
		</form>

		
		<!-- <a href="#" class="card-link">Another link</a> -->
	</div>
</div>
{% endblock %}