{% extends "base.html" %}
{% load static %}

{% block additional_imports %}
<link href="{% static 'user/link-wf-account.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}


---
<div class="container">
	<div id="acc-info" style="background-color:rgba(9, 105, 9, 0.288);max-width:500px;margin:auto;border:solid 1px darkgray">
		<div class="row no-gutters">
			<div id="link-wf-acc" class="col-6">
				Linked Warframe Account:
			</div>
			<div id="wf-acc" class="col-6">
				Sov93
			</div>
			<div id="verif-code-header" class="col-6">
				Verification Code:
			</div>
			<div id="verif-code-info" class="col-6">
				JQ9W0WJEJ2J2O2J
			</div>
		</div>
	</div>
</div>
---

<div class="container">
	<ul class="list-group">
		<li class="list-group-item">Step 1</li>
		<li class="list-group-item">Step 2</li>
		<li class="list-group-item">Step 3</li>
		<li class="list-group-item">Step 4</li>
		<li class="list-group-item">Step 5</li>
	</ul>
</div>

<div id="footer-container" class="container" style="margin-top:10px;max-width:500px">
	<div id="footer-content">
		<p>
			<s>
			Please wait at least 5 minutes after messaging the verification code.

			If the verification code didn’t work after this time, please click the button below to generate a new verification code
			</s>
		</p>
	</div>
</div>


{% endblock %}