{% extends "base.html" %}
{% load static %}

{% block additional_imports %}
<link href="{% static 'user/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div id="login-area" class="text-center">
        <form class="form-signin" method="post" action="{% url 'user:login' %}" >
            {% csrf_token %}
            <img class="mb-4" src="{% static 'images/login-box-image.png' %}" alt="" width="80%" height="100%" border-radius="10px" style="border-radius:30px">
            <h1 class = "h1 mb-3 font-weight-normal"> Welcome </h1>
            <h3 class="h3 mb-3 font-weight-normal"> Please login </h3>
            {{ form.non_field_errors }}
            {{ form.email_address.errors }}
            {{ form.password.errors }}

            <label for="email_address" class="sr-only">Email address</label>
            <input type="email" id="email_address" name = "email_address" class="form-control" placeholder="Email address" required autofocus>

            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

            <!-- <p class="mt-2 mb-3 text-muted">&copy; 2017-2018</p> -->
            <p class="mt-2 cant-log-in">Can't login? Click <a href="{% url 'user:cant_log_in' %}">here.</a></p>
        </form>
    </div>
</div>
{% endblock %}