{% extends "base.html" %}
{% load static %}

{% comment %} 
	This page displays a user profile from a warframe account that is linked.

	If a warframe alias is searched, but is not linked to a website account,
	then this page will not be displayed and an http404 is displayed.

	If a linked warframe alias is searched, the profile information
	of the warframe alias "holder" is displayed, that is, their profile.
{% endcomment %}

{% block additional_imports %}
<link href="{% static 'user/user-profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Profile information - Top Section -->

<div id = "top-section-box" class="row justify-content-center align-items-center no-gutters">
	<div id = "top-section-info">
		<div id="misc-info-row" class = "row h-100 no-gutters">

			<!-- img and notification section -->
			<div id = "img-and-notif-section" class = "col-5" style="background-color:gray">
				<div class="d-flex flex-column h-100">
					<div class="row justify-content-center bg-purple">
						<img src="{% static 'images/profile-image-default.png' %}" class="mx-auto d-block my-2" style = "height:135px; width:135px">
					</div>
					<div class="row justify-content-center flex-grow-1">
						<img src="{% static 'images/nasty-user-alert.svg' %}" class="mx-auto d-block my-2" style = "height:20px; width:20px">
					</div>
				</div>
			</div>

			<!-- misc information section -->
			<div id="misc-info-section" class = "col-7" style = "background-color:lightgray">
				<div id = "misc-info-section-flex" class = "d-flex flex-column h-100">
					<div id="player-info" class = "row no-gutters justify-content-center w-100" style = "background-color:whitesmoke">
						<div id="player-info-col" class = "col-10" style = "background-color:whitesmoke;">
							<div class = "row">
								<div class="col-12 text-center">
									Warframe Alias
								</div>
								<div class="col-12 text-center">
										<h5><b>wfa1</b></h5>
								</div>
							</div>
							<div class = "row">
								<div class="col-12">
									Platform: PlayStation
								</div>
								<div class="col-12">
									Status: Offline
								</div>
								<div class="col-12">
									Member Since: 01/01/2000
								</div>
							</div>
						</div>
					</div>
					<div id="player-action-row" class = "row no-gutters" style = "background-color:cornflowerblue;margin-top:auto;margin-bottom:auto">
						<div id="player-action-col" class= "col-12" style = "background-color:lightgray">
							<div id="buttons" class="text-center">
								<button type="button" class="btn btn-primary btn-sm mr-1">Send Message</button>
								<button type="button" class="btn btn-primary btn-sm">Report User</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Profile information - Bottom Section -->
<!--
<div id="bottom-section" class = "container justify-content-center" style="background-color:yellow">
	<div id="relic-log" style="border:solid;min-height: 200px; max-width:320px">
		<div class="row">
			<div class="col-6">
				Relics in possession: 48
			</div>
			<div class="col-6" style="border:solid; border-width: 0px 0px 0px 1px; text-align:center; margin-top:auto; margin-bottom:auto;">
				<button type="button" class="btn btn-dark">Dark</button>
			</div>
		</div>
	</div>
</div>
-->

<div class="container" style="max-width:640px">
		<div class="card my-2">
			<h5 class="card-header">Relic Log</h5>
			<div class="card-body">
				<!-- <h5 class="card-title">Special title treatment</h5> -->
				<p>Unique vaulted relics in inventory: 48 </p>

				<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
				<a href="#" class="btn btn-primary">View Relic Log</a>
			</div>
		</div>
		<div class="card my-2">
				<h5 class="card-header">Account information</h5>
				<div class="card-body">
					<h5 class="card-title">Report History</h5>
					Recent reports against user: <span class="badge badge-pill badge-success"> None </span><br>
				</div>
		</div>
		<div class="card my-2">
			<h5 class="card-header">Group Hosting</h5>
			<div class="card-body">
				Currently hosting a group? Nope.
			</div>
		</div>
</div>


<!--
<div class="row justify-content-center">
	<div class="col-4 bg-primary prof-info-tab">
		col-4
	</div>
	<div class="col-4 bg-success prof-info-tab">
		col-4
	</div>
</div>

<div class="container-sm">
	<div class="row justify-content-center">
		<div class="col-4 mr-2 bg-primary ">
				col-4
		</div>
		<div class="col-4 bg-primary ">
				col-4
		</div>
	</div>
</div>

<div class ="test">
	hello
</div>

<div class="d-flex p-2 justify-content-center" style="background-color:darkgray">
	<div class="bgc-4" style = "height:200px;width:450px">
		Flex item 1
	</div>
	<div class="p2 bgc-2 mx-4" style = "height:200px;width:450px">
		Flex item 2
	</div>
</div>
-->

<!-- <div class="container" style="background-color: darkkhaki"></div> -->
<!--
	<div class="row justify-content-center" style="background-color:coral">
		<div class="col-8" style="background-color:darkcyan; max-width:400px">
			first col
		</div>
		
	</div>
	-->
<!-- </div> -->

{% endblock %}